<%- include('partials/header') %>
<h2><%= recipe ? 'Edit Recipe' : 'Create New Recipe' %></h2>
<form action="<%= recipe ? `/recipe/${recipe.id}` : '/recipe' %>" method="POST">

    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="<%= recipe ? recipe.title : '' %>" required>
    
    <label for="ingredients">Ingredients:</label>
    <textarea id="ingredients" name="ingredients" required><%= recipe ? recipe.ingredients : '' %></textarea>
    
    <label for="instructions">Instructions:</label>
    <textarea id="instructions" name="instructions" required><%= recipe ? recipe.instructions : '' %></textarea>
    
    <button type="submit"><%= recipe ? 'Update' : 'Create' %> Recipe</button>
</form>
<%- include('partials/footer') %>


